@import './fonts/fonts.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

#app {
  min-height: 100vh;
  background-color: #08090A;
  color: #FFFFFF;
  font-family: 'Pretendard', sans-serif;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
